<% obj.each do |articles|%>
	<div class="row">
		<div class="col-xs-10 col-sm-offset-1">
			<div class="well well-lg">
				<div class="article-title">
					<%= link_to articles.title, article_path(articles)%>
				</div>
				<div class="article-des">
					<%= truncate(articles.description, length: 100)%><br /><br />
					<div>
						<small class="rightsmall">Created By : <%= articles.user.first_name%> <%= articles.user.last_name%></small>
						<small class="leftsmall">Last Update : <%= time_ago_in_words(articles.updated_at)%> ago</small>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>