<h1>Article List</h1>
<% @article.each do |articles|%>
	<div class="row">
		<div class="col-xs-10 col-sm-offset-1">
			<div class="well well-lg">
				<div class="article-title">
					<%= link_to articles.title, article_path(articles)%>
				</div>
				<div class="article-des">
					<%= truncate(articles.description, length: 100)%>
				</div>
			</div>
		</div>
	</div>
<% end %>
<!-- <table class="table">
	<thead>
		<th>S.No</th>
		<th>Articles</th>
		<th>Description</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% i=1 %>
		<% @article.each do |articles|%>
		<tr>
			<td><%= i %><% i+=1%></td>
			<td><%= articles.title%></td>
			<td><%= articles.description%></td>
			<td><%= link_to 'Show' ,article_path(articles) , class:'btn btn-xs btn-success' %> </td>
		</tr>
		<% end %>
	</tbody>
</table> -->
