<h1><small>Title</small></h1>
<h1><%= @article.title%></h1>
<hr />
<div class="well col-xs-10 col-sm-offset-1 col">
	<h2><small>Description</small></h2>
	<p>
	<p>
		<label> &nbsp;&nbsp;<%= @article.description%></label>
	</p>

	</p>
	<hr />
	<%= link_to 'Edit This Articles' ,edit_article_path(@article), class:'btn btn-xl btn-primary' %>
	<%= link_to 'Show All Articles' ,articles_path, class:'btn btn-xl btn-success' %>
	<%= link_to 'Delete This Article' ,article_path(@article),method: :delete ,data: {confirm: "Are You Sure ?"}, class:'btn btn-xl btn-danger' %>

</div>
