<h1>All Categories</h1>
<hr />
<div class="row">
	<div class="col-sm-12">
		<%@categories.each do |cat|%>
		<div class="well col-md-3 col-md-offset-1">
			<div class="leftsmall">
				<%if current_user.admin? %>
					<%= link_to category_path(cat),method: :delete ,data: {confirm: "Are You Sure ?"} do %>
					<div class="closeImg"><!-- Image Div For Close Btn --></div>
					<% end %>
				<% end %>
			</div>
			<%= link_to category_path(cat) do %>
			<h1><b><%= cat.name%></b></h1>
			<% end %>
			<small><%= "("+pluralize(cat.articles.count,"article")+")"%></small>
		</div>
		<% end %>
	</div>
	<div align="right">
		<%= will_paginate %>
	</div>
</div>
<!-- <% @categories.each do |cat|%>
<div class="row">
<div class="col-md-12">
<div class="col-md-2">
<h4><b><%= link_to cat.name,"#" %> <small><%= "("+pluralize(cat.articles.count,"article")+")"%></small></b></h4>
</div>
</div>
<!-- <h4><b><%= link_to cat.name,"#" %> <small><%= "("+pluralize(cat.articles.count,"article")+")"%></small></b></h4>
</div>
<% end %>	-->
